* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

article {
  margin-bottom: 60px;
}

body {
  position: relative;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 0;
  float: left;
}

h1::first-letter {
  font-style: normal;
}

h2 {
  font-style: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: red;
}

nav {
  font-family: sans-serif;
  padding-top: 10px;
  float: right;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 60px;
  border-top: 5px solid #1098ad;
}

.post-header {
  margin-bottom: 40px;
}

.related-list {
  list-style: none;
}

.post-img {
  width: 100%;
  height: auto;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

#header-div {
  position: relative;
}

#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#top {
  position: absolute;
  right: 180px;
  top: -20px;
  font-family: sans-serif;
  background-color: yellow;
  padding: 5px 10px;
  font-weight: bold;
}

/* Styling Links */
a {
  padding-right: 10px;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
}

/* FLOATS */
.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
